<!DOCTYPE html>
<html>

<!-- This is a single page application for interacting with SchellingCoin -->
<head>
  <meta charset="utf-8">
  <title>SchellingCoin</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="schelling.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
<div class="container" ng-app="SchellApp">

<!-- Titlebar stuff -->
<h1>SchellingCoin <small>on Ethereum</small></h1>

<!-- Account -->
<div class="panel panel-default" ng-controller="UserAccount">
  <div class="panel-heading">
    <h3 class="panel-title">My Account</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="accountPicker">Address</label>
      <select id="accountPicker" class="form-control" ng-model="acc" ng-change="setAccount(acc)">
        <option ng-repeat="x in accs">{{x}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="balanceDisplay">Balance (wei)</label>
      <!-- <input id="balanceDisplay" type="text" class="form-control" readonly="readonly" ng-model="bal"> -->
      <h4 id="balanceDisplay" class="form-group">{{bal}}</h4>
    </div>
  </div>
</div>

<!-- Voter operation -->
<div class="panel panel-default" ng-controller="VotePage">
  <div class="panel-heading">
    <h3 class="panel-title">Vote</h3>
  </div>
  <div class="panel-body">

    <!-- Contract info -->
    <div class="panel panel-default">
      <!-- <div class="panel-heading">
        <h3 class="panel-title">Contract</h3>
      </div> -->
      <div class="panel-body">
        <div class="form-group">
          <label for="contractBox">Contract Address</label>
          <input id="contractBox" type="text" class="form-control" ng-model="conaddr" ng-change="setContract(conaddr)">
        </div>
        <div class="form-group">
          <label>Question</label>
          <h4>{{question ? question : 'N/A'}}</h4>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Start Time</label>
            <h4>{{c && c.startTime ? (c.startTime | date:'medium') : 'N/A'}}</h4>
          </div>
          <div class="form-group col-sm-4">
            <label>Reveal Time</label>
            <h4>{{c && c.revealTime ? (c.revealTime | date:'medium') : 'N/A'}}</h4>
          </div>
          <div class="form-group col-sm-4">
            <label>Redeem Time</label>
            <h4>{{c && c.redeemTime ? (c.redeemTime | date:'medium') : 'N/A'}}</h4>
          </div>
        </div>
        <div class="form-group">
          <label>Down Payment (wei)</label>
          <h4>{{c && c.downPayment.toString(10) ? c.downPayment.toString(10) : 'N/A'}}</h4>
        </div>
      </div>
    </div>

    <!-- Voter -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="votePicker">Selection</label>
            <input id="votePicker" type="number" class="form-control" min="1" ng-model="choice">
          </div>
          <div class="form-group col-sm-6">
            <label for="keyPicker">Key</label>
            <input id="keyPicker" type="text" class="form-control" ng-model="key">
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-default" ng-click="submitHash()" ng-disabled="!c">Submit Hash</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-default" ng-click="revealHash()" ng-disabled="!c">Reveal Vote</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-default" ng-click="redeemReward()" ng-disabled="!c">Redeem</button>
        </div>
        <!-- This is for debugging purposes only! -->
        <div class="btn-group">
          <button class="btn btn-danger" ng-click="kill()" ng-disabled="!c">Kill</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Schelling contract creation -->
<div class="panel panel-default" ng-controller="CreatePage">
  <div class="panel-heading">
    <h3 class="panel-title">Ask</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="poolBox">Voter Pool Address</label>
      <input it="poolBox" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="questionBox">Question</label>
      <textarea id="questionBox" class="form-control" style="resize: none"></textarea>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="startBox">Start Time</label>
        <input id="startBox" type="text" class="form-control" ng-model="startTime">
      </div>
      <div class="form-group col-sm-4">
        <label for="hashPeriodBox">Hash Submit Period</label>
        <input id="hashPeriodBox" type="text" class="form-control" ng-model="hashPeriod">
      </div>
      <div class="form-group col-sm-4">
        <label for="revealPeriodBox">Reveal Period</label>
        <input id="revealPeriodBox" type="text" class="form-control" ng-model="revealPeriod">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="maxvalBox">Max Option</label>
        <input id="maxvalBox" type="number" min="2" class="form-control" ng-model="maxOption">
      </div>
      <div class="form-group col-sm-6">
        <label for="dpBox">Down Payment (wei)</label>
        <input id="dpBox" type="text" class="form-control" ng-model="downPayment">
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-default">Create Contract</button>
    </div>
  </div>
</div>


<!-- Container end tag -->
</div>

<script type="text/javascript" src="lib/bignumber.min.js"></script>
<!-- <script type="text/javascript" src="lib/bignumber.js"></script> -->
<!-- <script type="text/javascript" src="lib/ethereum.min.js"></script> -->
<script type="text/javascript" src="lib/ethereum.js"></script>
<script type="text/javascript" src="schelling.js"></script>
<script type="text/javascript" src="conbin.js"></script>
</body>
</html>
