{% extends "base.html" %}

{% block content_title %}
About CrowdVerity
{% endblock %}

{% block about_tab_class %}
active
{% endblock %}

{% block content %}
<h3>Why CrowdVerity?</h3>
<p>
CrowdVerity is a decentralized method for importing facts from the real-world to the crypto-world (Ethereum). Users of CrowdVerity need not trust a single central authority to tell them what is truth. There are multiple scenarios where this is necessary:
<dl class="nice-dl">

  <dt>Insurance</dt>
  <dd>Currently it is often the case that insurance companies determine themselves when conditions suffice to award payouts. This is a huge conflict of interest because they are the ones paying. It is no wonder why so many lawyers devote their careers to suing insurance companies.</dd>

  <dt>Prediction</dt>
  <dd>In any type of betting scenario there is the risk that a trusted authority could also be in on the bet. This immediately makes them untrustworthy.</dd>

  <dt>Exchanges</dt>
  <dd>The value of currencies ought to be set by whatever value the general public believes the currency to be worth. This is most easily accomplished decentralized.</dd>

</dl>
The list is potentially infinite since CrowdVerity imposes no restriction on what category of facts can be queried. 
</p>

<hr>
<h3>Who is CrowdVerity?</h3>
<p>
CrowdVerity is an academic project within the Cornell University Computer Science Department. It's contributors are:
<ul>
  <li><a href="http://peterzieske.com/">Peter Zieske</a></li>
  <li><a href="http://www.cs.cornell.edu/People/egs/">Emin Gun Sirer</a></li>
</ul>
</p>

<hr>
<h3>How does CrowdVerity work?</h3>
<p>
  Read <a href="https://blog.ethereum.org/2014/03/28/schellingcoin-a-minimal-trust-universal-data-feed/">here</a> to learn about SchellingCoin and <a href="https://ethereum.org/">here</a> to learn about Ethereum.
</p>
{% endblock %}
