{% extends "base.html" %}


{% block content_title %}
About
{% endblock %}


{% block content %}
<h3>Purpose</h3>
<div>
  <p>
    CrowdVerity is a crowd-powered method for importing facts from the real-world to the digital-world.
    Users of CrowdVerity need not trust a single central authority to tell them what is truth.
    They instead can query almost any fact from the the incentivized masses.
    Here are just a few scenarios that can benefit from CrowdVerity:
  </p>
  <dl class="dl-horizontal nice-dl">

    <dt>Insurance</dt>
    <dd>
      Currently it is often the case that insurance companies determine themselves when conditions suffice to award payouts.
      This is a huge conflict of interest because they are the ones paying.
      It is no wonder why so many lawyers devote their careers to suing insurance companies.
      CrowdVerity can be the trusted input for both insurers and their clients.
    </dd>

    <dt>Fundraising</dt>
    <dd>
      There needs to be away to assert that companies receiving crowd-funding actually produce the promised product.
      CrowdVerity can answer questions about the performance/reviews of a product.
    </dd>

    <dt>Exchanges</dt>
    <dd>
      Failure to set an appropriate exchange rate could create a trading cycle that causes heavy losses.
      The value of currencies ought to be set by whatever value the general public believes the currency to be worth.
      CrowdVerity is powered by the general public.
    </dd>

  </dl>
</div>

<span class="clear"></span>
<hr>
<h3>Method</h3>
<div>
  <p>
    How does CrowdVerity get facts from its users?
  </p>
  <p>
    Users are penalized if they don't tell the truth.
    When casting votes, voters must put down a Ether deposit.
    They can regain this deposit (plus the deposit of the question asker) if the majority of voters side with their option.
    Voters cannot see what others are voting for. Thus it is always in their best interests to vote the truth if they want the reward.
  </p>
</div>

<hr>
<h3>People</h3>
<div>
  <p>
    CrowdVerity is a former academic project of the Cornell University Computer Science Department. Its contributors are:
  </p>
  <ul>
    <li><a href="http://peterzieske.com/">Peter Zieske</a></li>
    <li><a href="http://www.cs.cornell.edu/People/egs/">Emin Gun Sirer</a></li>
  </ul>
</div>

<hr>
<h3>Technologies</h3>
<div>
  <h4>SchellingCoin</h4>
  <p>
    CrowdVerity uses the SchellingCoin mechanism to aggregate its inputs into truth.
    Read <a href="https://blog.ethereum.org/2014/03/28/schellingcoin-a-minimal-trust-universal-data-feed/">here</a> to learn more about SchellingCoin's theory.
  </p>
  <h4>Ethereum</h4>
  <p>
    Ethereum is a Bitcoin 2.0 technology that serves as both a cryptocurrency and a platform for decentralized applications.
    Programs (contracts) running within Ethereum get all the same immutability and availability guarantees as transactions on the block-chain.
    CrowdVerity runs all of its ballots as contracts in the Ethereum platform.
    Read <a href="https://ethereum.org/">here</a> to learn more about Ethereum.
  </p>
</div>

{% endblock %}
