{% extends "base.html" %}
{% load ballot_extras %}

{% block content_title %}
My Account
{% endblock %}

{% block acc_tab_class %}
active
{% endblock %}

{% block content %}
{% if user and user.id %}

  <label>Name</label>
  <h4 class="not-hdr">{{ user.first_name }} {{ user.last_name }}</h4>

  <label>Address</label>
  <h4 class="not-hdr">
    {% if user.ethaccount.address %}
      {{ user.ethaccount.address }}
    {% else %}
      N/A
    {% endif %}
  </h4>

  <label>Balance</label>
  <h4 class="not-hdr">
    {{ uw.balance|wei_to_denom:"ether" }} ether
  </h4>

  <form role="form" action="{% url 'ballots:account' %}" method="post">
    {% csrf_token %}
    <div id="sec_panel" class="form-group" hidden>
      {{ f.secret_key.label_tag }}
      {{ f.secret_key }}
      {{ f.secret_key.errors }}
    </div>
    <div style="margin-bottom: 1em;">
      <a class="show-more" for="sec_panel">
        <span>Show secret</span>
        <span hidden>Hide secret</span>
      </a>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
  

{% else %}
  <div class="alert alert-warning">
    <strong>Please log in.</strong>
  </div>
{% endif %}
{% endblock %}

