{% extends "base.html" %}


{% block content_title %}
CrowdVerity Terms of Service
{% endblock %}


{% block content %}

{# Don't post illegal questions. #}
{# You're responsible not CrowdVerity. #}
{# More formalities coming soon. #}

<h3>Introduction</h3>
<div>
  <p>
    These Terms of Service govern the use of the Service <a href="http://crowdverity.com/">crowdverity.com</a>.
    The Service is provided by Emin Gun Sirer &amp; Peter Zieske ("CrowdVerity"), located in Ithaca, New York.
  </p>
  <p>
    By using our Service, you are agreeing to these terms.
    Please the terms carefully.
  </p>
  <p>
    By using our Service you are also agreeing to the Terms of Service for <a href="https://www.facebook.com/legal/terms">Facebook</a> and <a href="http://ethereum.org/">Ethereum</a>.
  </p>
  <p>
    CrowdVerity reserves the right to amend these Terms of Service at any time.
    The most current version can always be found <a href="{% url 'ballots:tos' %}">here</a>.
    CrowdVerity also reserves the right to determine the method of notification for changes to these terms.
  </p>
</div>

<hr>
<h3>Using our Service</h3>
<div>
  <p>
    Our Service may not be used for any illegal activities, directly or indirectly.
    This includes (but is not limited to) the following:
  </p>
  <ul>
    <li>
      Creation of ballots which do not have a single correct answer at their start time.
    </li>
    <li>
      Creation of ballots with ambiguities that could lead to multiple single correct answers.
    </li>
    <li>
      Using the outputs of the ballots as inputs to illegal functions.
    </li>
  </ul>
</div>

<hr>
<h3>Your CrowdVerity Account</h3>
<div>
  <p>
    Here are some commitments you make to us relating to registering and maintaining the security of your account.
  </p>
  <ul>
    <li>
      You are at least 18 years of age or have reached the age of majority where you live.
    </li>
    <li>
      You will not create more than one account.
    </li>
    <li>
      You will be the sole user of your account.
    </li>
    <li>
      You will not transfer your account to another person.
    </li>
    <li>
      You allow CrowdVerity to terminate your account at its own discretion with or without notice.
    </li>
  </ul>
</div>

<hr>
<h3>Content</h3>
<div>
  <p>
    CrowdVerity allows you to post text data ("User Content").
    You retain all rights in, and are solely responsible for, the User Content you post to CrowdVerity.
  </p>
  <p>
    You grant CrowdVerity and its users a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license to use, store, display, reproduce, modify, create derivative works, perform, and distribute your User Content on CrowdVerity solely for the purposes of operating, developing, providing, and using CrowdVerity. Nothing in these Terms shall restrict other legal rights CrowdVerity may have to User Content, for example under other licenses. We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms or our policies.
  </p>
  <p>
    Following termination or deactivation of your account, we may retain your User Content.
    Furthermore, CrowdVerity and its users may retain and continue to use, store, display, reproduce, modify, create derivative works, perform, and distribute any of your User Content on CrowdVerity.
  </p>
</div>

<hr>
<h3>Disclaimers</h3>
<div>
  <p>
    The Service and all included content are provided on an "as is" basis without warranty of any kind, whether express or implied.
  </p>
  <p>
    CROWDVERITY SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
  </p>
  <p>
    CrowdVerity, as well as its owners, affiliates, and contributors can not be held responsible for any problems or damager that occur as a result of using our Service.
  </p>
</div>

<hr>
<h3>Limitation of Liability</h3>
<div>
  <p>
    YOU EXPRESSLY UNDERSTAND AND AGREE THAT CROWDVERITY AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY PUNITIVE, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF CROWDVERITY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (a) THE USE OR THE INABILITY TO USE THE CROWDVERITY SERVICE; (b) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES; (c) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (d) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE CROWDVERITY SERVICE; OR (e) ANY OTHER MATTER RELATING TO THE CROWDVERITY SERVICE.
  </p>
</div>

<hr>
<h3>Governing Law</h3>
<div>
  <p>
    These terms are governed in accordance with the laws of New York in the United States.
  </p>
</div>

{% endblock %}
