{% extends "base.html" %}

{% block content_title %}
Vote
{% endblock %}

{% block explore_tab_class %}
active
{% endblock %}

{% block content %}

<div class="panel panel-default panel-body">
  <label>Question</label>
  <h4 class="not-hdr">
    {% if question %}
      {{ question }}
    {% else %}
      {{ b.question }}
    {% endif %}
  </h4>
</div>

<div class="panel panel-default panel-body">
{% if redeemed %}
  <label>Decision</label>
  <h4 class="not-hdr">{{ b.decision }}</h4>
{% elif committing or revealing or redeeming %}
  <form role="form" action="{% url 'ballots:hex' b.address %}" method="post">
    {% csrf_token %}

    {% if committing or revealing %}
      <div class="row">
        <div class="form-group col-sm-6">
          {{ f.vote_val.label_tag }}
          <div class="dj-radio">
            {{ f.vote_val }}
          </div>
          {{ f.vote_val.errors }}
        </div>
        <div class="form-group col-sm-6">
          {{ f.nonce.label_tag }}
          {{ f.nonce }}
          {{ f.nonce.errors }}
        </div>
      </div>
    {% endif %}

    {% if committing %}
    <button name="commit" type="submit" class="btn btn-default">Commit To Vote</button>
    {% elif revealing %}
    <button name="reveal" type="submit" class="btn btn-default">Reveal Vote</button>
    {% elif redeeming %}
    <button name="tally" type="submit" class="btn btn-default">Tally Votes</button>
    <p class="text-warning">Note: This action could cost a significant amount of Gas depending on the number of voters.</p>
    {% endif %}

  </form>
{% else %}
  <label>Start Time</label>
  <h4 class="not-hdr">{{ b.start_time }}</h4>
{% endif %}
</div>

<div id="tech_panel" class="panel panel-default panel-body" hidden>
  
  <label>Contract Address</label>
  <h4 class="not-hdr">{{ b.address }}</h4>

  <div class="row">
    <div class="col-sm-4">
      <label>Max Option</label>
      <h4 class="not-hdr">{{ b.max_option }}</h4>
    </div>
    <div class="col-sm-8">
      <label>Deposit (ether)</label>
      <h4 class="not-hdr">{{ b.down_payment }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <label>Start Time</label>
      <h4 class="not-hdr">{{ b.start_time }}</h4>
    </div>
    <div class="col-sm-4">
      <label>Reveal Time</label>
      <h4 class="not-hdr">{{ b.reveal_time }}</h4>
    </div>
    <div class="col-sm-4">
      <label>Redeem Time</label>
      <h4 class="not-hdr">{{ b.redeem_time }}</h4>
    </div>
  </div>

</div>
<a class="show-more" for="tech_panel">
  <span>Show more</span>
  <span hidden>Show less</span>
</a>

{% endblock %}
